.principal{
    background: #CCCCCC;
    padding: 20px;
}
.titulo_principal{
    padding-left: 30px;
}
#banner{
    width: 100%;
}
.titulo_centralizado{
    text-align: center;
}
p {
    text-align: center;
}
#missao {
    font-size: 25px;
}
em strong {
    color: green;
}
.beneficios{
     background: white;
    padding: 30px;
}
.itens{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagem_beneficios{
    width: 50%;
}

